.app.dark {
  --bg-color: #090949;
  --inverted-bg-color: #a9a9a9;

  --primary-color: #049604;
  --inverted-primary-color: #041c65;
  --secondary-color: #04ff04;
  --inverted-secondary-color: #0449e0;
}
